    {% set tweetdata = tweet %}
    {% set tweetid = tweetdata.id %}
    {% set baseurl = "https://twitter.com/" + data.includes.users[1].username + "/status/" + tweetid %}
    <div class="embedded-tweet-container">
      {% for user in users %}
      {% if user.id == tweetdata.author_id %}
      <div class="tweet-author">
        <div class="tweet-author-profile-image">
          <img src="{{ user.profile_url }}" alt="{{ user.name }}" />
        </div>
        <div class="tweet-author-info">
          <div class="tweet-author-name">{{ user.name }}</div>
          <div class="tweet-author-username">@{{ user.username }}</div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="tweet-content">{{tweetdata.text | replace('\n', '<br />') }}
				{% for media in tweet.media_array %}
					<img class="tweet-image" src="{{ media.expanded_url }}" />
				{% endfor %}
			</div>
			<p class="date"><a id="qt{{ tweetid }}" href="{{baseurl}}"></a></p>
			<script>
				var dateString = "{{ tweetdata.created_at }}";
				var date = new Date(dateString);
				document.getElementById("qt{{tweetid}}").innerText = date;
        // let True = true;
        // let False = false;
        // console.log("Quoted tweet! Data: ");
        // console.log({{ tweetdata   }});
        // console.log("Quoted tweet media array: ");
        // console.log({{ media_array }})
      </script>
    </div>
