    {% set data = tweet %}
    <div class="embedded-tweet-container">
      {% for user in parsed_content.includes.users %}
      {% if user.id == data.author_id %}
      <div class="tweet-author">
        <div class="tweet-author-profile-image">
          <img src="{{ context.make_replay_url(user.profile_image_url, flags=['im']) }}" alt="{{ user.name }}" />
        </div>
        <div class="tweet-author-info">
          <div class="tweet-author-name">{{ user.name }}</div>
          <div class="tweet-author-username">@{{ user.username }}</div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="tweet-content">{{data.text | replace('\n', '<br />') }}
				{% for media in tweet.media_array %}
					<img class="tweet-image" src="{{ context.make_replay_url(media.expanded_url, flags=['im']) }}" />
				{% endfor %}
			</div>
			<p class="date" id="quoteddate" />
			<script>
				var dateString = "{{ data.created_at }}";
				var date = new Date(dateString);
				document.querySelector("#quoteddate").innerText = date;
			</script>
    </div>